<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="/build/stylesheets/app.css">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
</head>
<body>
  {% block content %} {% endblock %}
  <script src="/build/javascripts/vendor.js"></script>
  <script src="/build/javascripts/app.js"></script>
  <script>require('initialize');</script>
</body>
</html>
