{% extends 'layouts/base.html.twig' %}

{% block title %}Home | Brooklyn United{% endblock %}

{% block content %}
  <h1>Brooklyn United Wordpress Scaffold</h1>
  <ul>
    {% for post in posts %}
      <li><a href="/posts/{{ post.ID }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
